<div>
  <div class="list" style="min-width: 250px; margin-bottom: 0;">
    <div class="item item-icon-right item-divider">
      {{ ctrl.placeName }}
    </div>
    <!-- <div class="item">
      Goodspots
      <span class="badge">{{ctrl.totalGoodspots}}</span>
    </div> -->
    <div class="item"
      ng-if="ctrl.hasFriendspots">
      Friendspots
      <span class="badge badge-positive">{{ctrl.totalFriendspots}}</span>
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-pound"></i>
      <span class="item-note">tag 1 tag 2 tag 3</span>
    </div>
  </div>
  <button class="button button-block button-positive"
    style="margin-bottom: 0"
    ng-click="ctrl.tagPlace()"
    ng-if="ctrl.isMyGoodspot">
    Tag it
  </button>
  <button class="button button-block button-positive"
    style="margin-bottom: 0"
    ng-click="ctrl.spotPlace()"
    ng-if="ctrl.isNotMyGoodspot">
    Spot it
  </button>
  <div class="row" style="padding-bottom: 0; padding-right: 0">
    <div class="col col-33 col-offset-67" style="padding: 0; text-align: right">
      <a class="button icon-right ion-chevron-right button-clear button-dark"
      ng-click="ctrl.selectPlaceHandler({place: ctrl.place})">More</a>
    </div>
  </div>
</div>
