<div class="modal"
  ng-controller="PlaceDetailController as ctrl">

  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">{{ctrl.placeName}}</h1>
  </ion-header-bar>

  <ion-content>

    <gs-map-image place-stream="ctrl.placeStream"></gs-map-image>

    <div class="list">
      <div class="item" ng-if="ctrl.isMyGoodspot">
        My Goodspot
      </div>

      <div class="item">
        Friendspots
        <span class="badge badge-positive">{{ctrl.friendspots}}</span>
      </div>


      <div class="item">
        Goodspots
        <span class="badge badge-positive">{{ctrl.goodspots}}</span>
      </div>

      <div class="item" ng-if="ctrl.hasTags">
        <gs-tag-tokens
          place="ctrl.place"
          untag-handler="ctrl.untagPlace(tag)"
          tag-handler="ctrl.tagPlace(tag)"></gs-tag-tokens>
      </div>

      <div class="item">
        <button class="button button-block button-positive"
          style="margin-bottom: 0"
          ng-click="ctrl.spotPlace()"
          ng-if="ctrl.isNotMyGoodspot">
          Spot it
        </button>

        <button class="button button-block button-assertive"
          style="margin-bottom: 0"
          ng-click="ctrl.unspotPlace()"
          ng-if="ctrl.isMyGoodspot">
          Unspot it
        </button>
      </div>

      <!-- <div class="item"><pre>{{ctrl.place}}</pre></div> -->
    </div>

  </ion-content>


  <ion-footer-bar align-title="left" class="bar-stable">
    <button
      class="button button-clear button-primary pull-left"
      ng-click="ctrl.showTagList($event)"
      ng-if="ctrl.isMyGoodspot">Add Tag</button>

    <button
      class="button button-clear button-primary pull-right"
      ng-click="ctrl.close()">Close</button>
  </ion-footer-bar>

</div>
